<div class="container col-md-12">
	<div class="row">
		<div class="jumbotron col-md-12">
			<div class="container">
				<h1>Hola, world!</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio in possimus natus doloremque minus dicta, rem quidem alias facere a provident magni, delectus necessitatibus? Ratione dolorum aliquid et? Reiciendis, consectetur.</p>
				<p>
					<a class="btn btn-primary btn-lg" href="#" role="button"> Learn more</a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
				<h1>Example page header <small>Subtext for header</small></h1>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id esse, fuga. Quaerat quod ducimus ad ratione consequuntur ipsum. Similique, rerum hic fugiat amet rem magni eaque aliquam tenetur, aliquid at.</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
				<h1>Example page header <small>Subtext for header</small></h1>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id esse, fuga. Quaerat quod ducimus ad ratione consequuntur ipsum. Similique, rerum hic fugiat amet rem magni eaque aliquam tenetur, aliquid at.</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
				<h1>Example page header <small>Subtext for header</small></h1>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id esse, fuga. Quaerat quod ducimus ad ratione consequuntur ipsum. Similique, rerum hic fugiat amet rem magni eaque aliquam tenetur, aliquid at.</p>
		</div>

	</div>
</div>